<form action="<%= formPath %>" method="POST">

    <div>
        <label for="name">Name: </label>
        <input type="text" name="name" placeholder="Item name..." minlength="3" required>
    </div>

    <div>
        <label for="description">Description: </label>
        <textarea name="description" placeholder="Item description..." minlength="10" required></textarea>
    </div>

    <div>
        <label for="price">Price: </label>
        <input type="number" name="price" placeholder="Item price in gold coins..." min="1" max="99999" required>
    </div>

    <div>
        <label for="category">Category: </label>
        <select name="category" required>
            <% categories.forEach(category => {%>
                <option
                    value="<%= category.name %>"
                    <% if(category.name === preselected) { %> selected <% } %>
                >
                <%= category.name %>
                </option>
            <% }); %>
        </select>
    </div>

    <div>
        <label for="stock">Stock: </label>
        <input type="number" name="stock" placeholder="How many in stock..." min="1" max="99999" required>
    </div>

    <button type="submit">Submit</button>

    
    <% if(errors) {%>
        <ul>
        <% errors.forEach(error => { %>
            <li style="color: red">· <%= error %> </li>
        <% }); %>
        </ul>
    <% } %>


</form>