<!DOCTYPE html>
<html lang="en">
	<%- include('partials/header', {title}) %>
	<body>
		<%- include('partials/nav') %>
		<h1><%= title %></h1>
		<main>
			<a href="/categories/add">Add category</a>
			<hr />
			-List of categories
		</main>
	</body>
</html>
