<!DOCTYPE html>
<html lang="en">
	<%- include('partials/header', {title}) %>
	<body>
		<%- include('partials/nav') %>
		<h1><%= title %></h1>
		<main>
			<a href="/magic-relics/add">Add magic relic</a>
			<hr />
			-List of all magic relics
		</main>
	</body>
</html>
