<!DOCTYPE html>
<html lang="en">
	<%- include('partials/header', {title}) %>
	<body>
		<%- include('partials/nav') %>
		<h1><%= title %></h1>
		<main>
			<form action="">-Add potion form</form>
		</main>
	</body>
</html>
